* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS";
}
.fieldlabel {
  color:rgb(153, 153, 153);
}
.fieldvalue {
  color:rgb(37, 37, 37);
}
.errormessage {
  color:darkred;
  font-weight: bolder;
}
#viewMapDiv {
  padding: 0;
  margin: 0;
  height: 250px;
  width: auto;
}

.pagemargins {
  margin: 25px;
}

.titlearea {
  background: #cacaca;
  padding: 5px;
}

.box {
  display: flex;
  align-items:top;
  overflow: auto;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Adapted From https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/*/

body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="Letter"] {  
  width: 21.59cm;
  height: 27.94cm; 
}
page[size="Landscape"][layout="landscape"] {
  width: 27.94cm;
  height: 21.59cm; 
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
  .esri-widget {
    visibility:hidden;
  }
  .titlearea {
    background: white;
  }
}

/* END */

